In [29]:
import pandas as pd

df = pd.read_csv(r"starting_data.csv")

print(df.head(10))

  CustomerID              Name  Age  SignupDate          Location  \
0   de78cf38       Amber Reese   56  2025-01-19     Gutierrezport
1   0169afb5   Ashley Chandler   69  2025-07-13      Dorothymouth
2   c50316e8    Nichole Davies   46  2024-03-06        Port David
3   87310bf8     Dakota Nelson   32  2024-12-12       Camachoside
4   64d622bc      Haley Hansen   60  2025-03-01       North Sarah
5   4dcf3c86  Lisa Proctor DDS   25  2025-04-09     South Michael
6   1bb75e35     Curtis Benton   38  2024-06-17       Jessicaport
7   c10433d8      Charles Hess   56  2025-02-06         New Julie
8   25e31d15     Barbara Brady   36  2024-07-26        Nobleshire
9   b85ed570    Matthew Garcia   40  2025-05-02  Port Tamarahaven

                           Email  TotalSpent  NumOrders  IsSubscribed
0             andrew58@gmail.com     4829.88         23         False
1          ytrujillo@barajas.net     4051.57         24          True
2             rburke@hotmail.com     1557.84          5          True
3        davidschaefer@gmail.com      533.48          3         False
4  austinashley@abbott-payne.com     3436.95         12          True
5    sanchezjennifer@skinner.com     2228.75          8          True
6             rchapman@gmail.com      654.09         22          True
7           lucerokelly@wade.biz     2501.13          3          True
8        tyoung@carter-moyer.com      220.22          1         False
9           taylorpaul@yahoo.com     4551.14          3          True

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    50 non-null     object
 1   Name          50 non-null     object
 2   Age           50 non-null     int64
 3   SignupDate    50 non-null     object
 4   Location      50 non-null     object
 5   Email         50 non-null     object
 6   TotalSpent    50 non-null     float64
 7   NumOrders     50 non-null     int64
 8   IsSubscribed  50 non-null     bool
dtypes: bool(1), float64(1), int64(2), object(5)
memory usage: 3.3+ KB
None

In [31]:
df["Location"].nunique()

50

In [32]:
df["IsSubscribed"].value_counts()

IsSubscribed
True     28
False    22
Name: count, dtype: int64

In [33]:
df_subscribed = df[df["IsSubscribed"] == True]

In [34]:
df_subscribed.shape

(28, 9)

In [35]:
df.loc[(df["TotalSpent"] > 1000) & (df["NumOrders"] > 5), ["Name", "TotalSpent", "NumOrders"]].sort_values(by=["TotalSpent", "NumOrders"], ascending=[False, False])

                    Name  TotalSpent  NumOrders
16       Stephanie Adams     4849.44         23
0            Amber Reese     4829.88         23
18        Robert Johnson     4700.52          7
21     Tiffany Chavez MD     4613.28         15
19          Steven Lucas     4479.40          9
46        Megan Anderson     4322.36         12
39       Kimberly Hughes     4086.53         22
1        Ashley Chandler     4051.57         24
33         Julie Nielsen     4020.88         15
17         Jessica Davis     3886.91         14
36            Amy Rogers     3872.61         13
42          Kari Sanchez     3867.79         13
41         Yvonne Fuller     3658.59         10
4           Haley Hansen     3436.95         12
11           Peter Smith     3329.49         15
47    Shannon Cunningham     3135.33         20
20           Brittany Le     3009.60         15
31           Tanya Wyatt     2736.35          7
5       Lisa Proctor DDS     2228.75          8
26       Courtney Howard     1973.95         17
44          Megan Nguyen     1824.41          6
48         Wendy Whitney     1687.95         11
25             James Day     1660.39          7
12         Kristen Roman     1592.97         14
30  Christopher Gonzales     1440.63         23
27         Jeffrey Beard     1393.18         20
37          Logan Jordan     1033.64          7
23         Martin Joseph     1020.12         13

In [ ]:
df[df["IsSubscribed"] == True]

,CustomerID,Name,Age,SignupDate,Location,Email,TotalSpent,NumOrders,IsSubscribed
1,0169afb5,Ashley Chandler,69,2025-07-13,Dorothymouth,ytrujillo@barajas.net,4051.57,24,True
2,c50316e8,Nichole Davies,46,2024-03-06,Port David,rburke@hotmail.com,1557.84,5,True
4,64d622bc,Haley Hansen,60,2025-03-01,North Sarah,austinashley@abbott-payne.com,3436.95,12,True
5,4dcf3c86,Lisa Proctor DDS,25,2025-04-09,South Michael,sanchezjennifer@skinner.com,2228.75,8,True
6,1bb75e35,Curtis Benton,38,2024-06-17,Jessicaport,rchapman@gmail.com,654.09,22,True
7,c10433d8,Charles Hess,56,2025-02-06,New Julie,lucerokelly@wade.biz,2501.13,3,True
9,b85ed570,Matthew Garcia,40,2025-05-02,Port Tamarahaven,taylorpaul@yahoo.com,4551.14,3,True
11,40a1dac8,Peter Smith,28,2024-10-28,Lake Leah,sandrajackson@davis-smith.biz,3329.49,15,True
12,eff9d814,Kristen Roman,41,2025-04-26,Garciaton,jeffreyanderson@watts-pitts.com,1592.97,14,True
13,faeb241e,Miranda Brennan,53,2024-12-09,South Sandrafurt,pgray@gmail.com,2624.34,3,True
14,cfcb0e59,Sarah Watson,57,2023-11-18,Zacharyfurt,thomasmullins@martinez.org,2756.22,1,True
17,6b3e257c,Jessica Davis,39,2025-04-29,Leeburgh,keith57@daniels.com,3886.91,14,True
18,d5a3728d,Robert Johnson,19,2023-09-13,Jeremiahbury,finleyandrew@gmail.com,4700.52,7,True
20,b12061a8,Brittany Le,61,2023-12-18,Sanchezberg,josephromero@hotmail.com,3009.60,15,True
21,df7c06e0,Tiffany Chavez MD,47,2025-03-23,Hunterborough,mark00@harmon.com,4613.28,15,True
22,2b723c75,Dustin Garrison,55,2025-03-31,West Douglas,james10@gmail.com,488.04,10,True
26,853a88f5,Courtney Howard,29,2025-02-21,Mercadoton,jaredblackburn@hotmail.com,1973.95,17,True
27,91e65006,Jeffrey Beard,39,2023-12-10,North Judyview,freemanjerry@daniels-bauer.biz,1393.18,20,True
32,fcd7e226,Jermaine Smith,59,2024-05-31,Dominguezfurt,abigailbrooks@juarez.com,747.57,13,True
34,9a939701,Tammy Reynolds,33,2024-01-04,Port Lauren,xprince@arroyo-armstrong.net,419.03,11,True
36,199a0649,Amy Rogers,64,2023-09-01,Port Tonychester,thomasdavid@hotmail.com,3872.61,13,True
41,4a7a2a99,Yvonne Fuller,54,2025-01-01,Ryanberg,falvarez@wagner-wilson.net,3658.59,10,True
43,b796df8c,Katherine Torres,24,2024-09-18,North Olivia,cindymiller@peterson-young.net,416.52,21,True
44,1eb7c70f,Megan Nguyen,38,2024-06-02,South Matthewbury,fmitchell@baker-dickson.com,1824.41,6,True
45,820f4ec2,James Sparks,26,2024-03-06,North Kevin,eford@wang-simpson.com,623.55,12,True
46,344edba1,Megan Anderson,56,2024-07-14,West Larry,jasonwyatt@nicholson.com,4322.36,12,True
48,b5077a68,Wendy Whitney,21,2025-06-23,North Richard,kcarr@reed-green.com,1687.95,11,True
49,9d2a7a26,Shane Duncan,42,2025-05-26,Port Johnville,patricksmith@yoder.com,364.61,23,True

In [49]:
df.sort_values(by="TotalSpent", ascending=False).head(5)

,CustomerID,Name,Age,SignupDate,Location,Email,TotalSpent,NumOrders,IsSubscribed
35,83488121,John Smith,32,2024-06-07,Ryanview,krausetammy@cooke-preston.com,4935.09,4,False
16,470ae57d,Stephanie Adams,20,2025-07-02,East Carolyn,amandawhite@yahoo.com,4849.44,23,False
0,de78cf38,Amber Reese,56,2025-01-19,Gutierrezport,andrew58@gmail.com,4829.88,23,False
18,d5a3728d,Robert Johnson,19,2023-09-13,Jeremiahbury,finleyandrew@gmail.com,4700.52,7,True
21,df7c06e0,Tiffany Chavez MD,47,2025-03-23,Hunterborough,mark00@harmon.com,4613.28,15,True

In [50]:
df.groupby("IsSubscribed")["TotalSpent"].mean()

IsSubscribed
False    2500.613182
True     2403.113214
Name: TotalSpent, dtype: float64

In [52]:
df.groupby("Location")["NumOrders"].sum().sort_values(ascending=False)

Location
Dorothymouth         24
Gutierrezport        23
New Kellyfurt        23
Port Johnville       23
East Carolyn         23
Jessicaport          22
Jennifershire        22
North Olivia         21
North Judyview       20
Timothyside          20
Howellborough        19
Robertport           19
Mercadoton           17
Sanchezberg          15
Lake Leah            15
Hunterborough        15
Stephanieside        15
Garciaton            14
Leeburgh             14
South Ashley         13
Port Tonychester     13
Dominguezfurt        13
Janiceshire          13
North Sarah          12
West Larry           12
North Kevin          12
North Richard        11
Port Lauren          11
Ryanberg             10
West Douglas         10
North Maria           9
South Michael         8
Port Paul             7
Mariahaven            7
Jeremiahbury          7
Duarteberg            7
South Matthewbury     6
Port David            5
Port Marthaton        5
Mccormicktown         5
Robertburgh           5
Lucasmouth            4
Ryanview              4
South Sandrafurt      3
Camachoside           3
Port Tamarahaven      3
New Julie             3
Davidberg             2
Nobleshire            1
Zacharyfurt           1
Name: NumOrders, dtype: int64

In [55]:
# A. Create age bins
bins = [17, 30, 45, 60, float('inf')] # edges of each bin
labels = ["18-30", "31-45", "46-60", "61+"] # readable bin names
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels)

# B. Group by age group and calculate average number of orders
df.groupby("AgeGroup", observed=True)["NumOrders"].mean()

AgeGroup
18-30    12.181818
31-45    11.166667
46-60     9.500000
61+      15.555556
Name: NumOrders, dtype: float64

In [57]:
df["SignupDate"] = pd.to_datetime(df["SignupDate"])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    50 non-null     object
 1   Name          50 non-null     object
 2   Age           50 non-null     int64
 3   SignupDate    50 non-null     datetime64[ns]
 4   Location      50 non-null     object
 5   Email         50 non-null     object
 6   TotalSpent    50 non-null     float64
 7   NumOrders     50 non-null     int64
 8   IsSubscribed  50 non-null     bool
 9   AgeGroup      50 non-null     category
dtypes: bool(1), category(1), datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 3.6+ KB

In [64]:
df[df["SignupDate"].dt.year == 2025]

,CustomerID,Name,Age,SignupDate,Location,Email,TotalSpent,NumOrders,IsSubscribed,AgeGroup
0,de78cf38,Amber Reese,56,2025-01-19,Gutierrezport,andrew58@gmail.com,4829.88,23,False,46-60
1,0169afb5,Ashley Chandler,69,2025-07-13,Dorothymouth,ytrujillo@barajas.net,4051.57,24,True,61+
4,64d622bc,Haley Hansen,60,2025-03-01,North Sarah,austinashley@abbott-payne.com,3436.95,12,True,46-60
5,4dcf3c86,Lisa Proctor DDS,25,2025-04-09,South Michael,sanchezjennifer@skinner.com,2228.75,8,True,18-30
7,c10433d8,Charles Hess,56,2025-02-06,New Julie,lucerokelly@wade.biz,2501.13,3,True,46-60
9,b85ed570,Matthew Garcia,40,2025-05-02,Port Tamarahaven,taylorpaul@yahoo.com,4551.14,3,True,31-45
10,f9520240,Pamela Martin,28,2025-07-29,Mccormicktown,katherinemckinney@lopez.com,1330.96,5,False,18-30
12,eff9d814,Kristen Roman,41,2025-04-26,Garciaton,jeffreyanderson@watts-pitts.com,1592.97,14,True,31-45
16,470ae57d,Stephanie Adams,20,2025-07-02,East Carolyn,amandawhite@yahoo.com,4849.44,23,False,18-30
17,6b3e257c,Jessica Davis,39,2025-04-29,Leeburgh,keith57@daniels.com,3886.91,14,True,31-45
21,df7c06e0,Tiffany Chavez MD,47,2025-03-23,Hunterborough,mark00@harmon.com,4613.28,15,True,46-60
22,2b723c75,Dustin Garrison,55,2025-03-31,West Douglas,james10@gmail.com,488.04,10,True,46-60
23,69131072,Martin Joseph,19,2025-01-09,Janiceshire,turnerjeffrey@hotmail.com,1020.12,13,False,18-30
24,67be3d24,Elaine Sims,38,2025-05-07,Howellborough,ogreen@crane-williams.com,273.88,19,False,31-45
26,853a88f5,Courtney Howard,29,2025-02-21,Mercadoton,jaredblackburn@hotmail.com,1973.95,17,True,18-30
28,63867470,Blake Patterson,61,2025-01-14,Lucasmouth,michael96@chambers.com,4152.25,4,False,61+
38,6ca53439,Anna Davis,61,2025-01-30,Robertport,andrew44@hotmail.com,77.33,19,False,61+
40,8222e321,Andrew Moore,20,2025-07-09,Davidberg,crawfordmelinda@yahoo.com,3548.94,2,False,18-30
41,4a7a2a99,Yvonne Fuller,54,2025-01-01,Ryanberg,falvarez@wagner-wilson.net,3658.59,10,True,46-60
42,73855f5f,Kari Sanchez,68,2025-06-10,South Ashley,davisdylan@gmail.com,3867.79,13,False,61+
48,b5077a68,Wendy Whitney,21,2025-06-23,North Richard,kcarr@reed-green.com,1687.95,11,True,18-30
49,9d2a7a26,Shane Duncan,42,2025-05-26,Port Johnville,patricksmith@yoder.com,364.61,23,True,31-45

In [66]:
six_months_prior = pd.Timestamp.today() - pd.DateOffset(months=6)

df[df["SignupDate"] >= six_months_prior]["TotalSpent"].mean()

2671.6956250000003

In [67]:
# Same as above but averaging by age bucket now

df[df["SignupDate"] >= six_months_prior].groupby("AgeGroup")["TotalSpent"].mean()

C:\Users\holden.coffman\AppData\Local\Temp\ipykernel_19604\821364300.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df[df["SignupDate"] >= six_months_prior].groupby("AgeGroup")["TotalSpent"].mean()

AgeGroup
18-30    2603.331667
31-45    2133.902000
46-60    2846.090000
61+      3959.680000
Name: TotalSpent, dtype: float64